nav.navbar.navbar-default{
  background:transparent;
  border:none;
}

div#header-jumbo.jumbotron.hero-technology{
  border-radius:0 !important;
  padding-bottom:0 !important;
  padding-top:0 !important;
  margin-bottom:70px !important;
}

div.container-fluid.menu-container{
  line-height:1;
}

nav.navbar.navbar-default.center{
  text-align:center !important;
}

ul.nav.navbar-nav{
  display:inline-block !important;
  float:none !important;
}

div.jumbo-menu-box{
  line-height:1;
  margin-left:0;
  margin-right:0;
  padding-bottom:38px;
  padding-left:6px;
}

p.text-left.jumbo-box-menu-text{
  font-size:1em;
}

div.col-md-4.col-sm-4.jumbo-box{
  padding-bottom:20px;
}

div.container-fluid.main-container{
  padding-left:0 !important;
  padding-right:0 !important;
  margin-bottom:0 !important;
  padding-bottom:0 !important;
}

a.btn.btn-default.btn-block.jumbo-box-button{
  border-radius:0 !important;
  width:180px;
}

div.jumbo-box-top-rod{
  height:5px;
  width:auto;
  background-color:white;
}

div.jumbo-box-cover{
  height:50px;
  background-color:transparent;
  text-align:left;
  font-size:.8em;
}

a.btn.btn-info.btn-lg.hero-button.jumbo-contact-btn{
  border-radius:0 !important;
  background:rgb(100, 170, 172);
}

div.col-md-4.col-sm-4.col-xs-12.jumbo-box-outerbox{
  padding:0 !important;
}

div#jumbo-box-1.col-md-12.col-sm-12.col-xs-12.jumbo-box{
  background-color:#69B249;
}

div#jumbo-box-2.col-md-12.col-sm-12.col-xs-12.jumbo-box{
  background-color:#459534;
}

div#jumbo-box-3.col-md-12.col-sm-12.col-xs-12.jumbo-box{
  background-color:#69B249;
}

nav.navbar.navbar-default.center.main-page-nav{
  border:none;
}

a.btn.btn-default.btn-block.jumbo-box-button{
  background:#64AAAC !important;
  color:white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color:#69B249;
}

span.boxtex-right{
  float:left;
}

span.boxtez-left{
  float:right;
}

div.boxtext-container{
  min-height:30px;
  padding-top:10px;
  border-bottom:1px solid grey;
}

div.jumbo-box{
  min-height:180px;
  max-height:180px;
}

div.row.box-menu-row{
  margin-bottom:0 !important;
  position:relative;
  top:23.3%;
}

div.col-md-12.section-block{
  padding:0 !important;
}

div.row.section-row{
  padding:0 !important;
  margin:0 !important;
}

img{
  width:100%;
  height:100%;
}

section.section-content{
  padding:0 !important;
}

div.col-md-4.col-sm-4.hidden-xs.image-box{
  padding:0 !important;
  height:100% !important;
}

span.ensign{
  color:#63898a;
}

div#welcome-div{
  padding-left:10px;
  padding-right:10px;
}

div.link-div{
  margin-top:10px;
  margin-bottom:10px;
}

ul.welcome-list{
  color:#64AAAC !important;
  list-style:none;
}

ul.welcome-list li{
  text-indent:-1.4em;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

p.welcome-text{
  line-height:1.7 !important;
  font-size:1.1em;
  width:80% !important;
}

img#my-image.img-responsive{
  height:100% !important;
  padding:0 !important;
  margin:0 !important;
}

div.col-md-8.col-sm-8.col-xs-12.image-box-partner{
  float:left;
}

